.main-post-div{
    width:100%;
    /* height: 300px; */
    border-style: solid;
    border-color: #E1E3E6;
    border-width: 1.0px;
    background-color: #ffffff; 
    box-shadow: 0px 0px 1px 0.1px #777777;
    float: left;
    /* padding: 10px; */
}

.avatar-div{
    border-style: solid;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border-width: 1.0px;
    border-color: #E1E3E6;
    float: left;
}

.avatar-div img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.userdata-div{
    /* padding: 10px; */
    float: left;
    cursor: pointer;
}

.username-div{
    /* width: 260px; */
    float: left;
    margin-left: 8px;
    margin-top: 7px;
}

.username-div h2{
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
    color: #2851A3;
}

.username-div h2:hover{
    text-decoration: underline;
}

.username-div p{
    padding: 0;
    margin: 0;
    color: #737880;
    font-size: 1.0em;
}

.username-div p:hover{
    text-decoration: underline;
}

.description-div{
    padding: 5px;
}

.description-div p{
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

.emoji-div{
    margin-left: 10px;
    cursor: pointer;
}

.emoji-div p {
    display: inline;
    margin-left:8px;
    padding: 0;
    color: #737880;
}

#comment-p{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.emoji-div p:hover{
    text-decoration: underline;
}

.line-div{
    border-top-style: solid;
    border-width: 1.3px;
    border-color: rgb(185, 183, 183);
    width: 95%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.like-comment{
    width: 35%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color:#737880;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.like-comment-btn:hover{
    color: #4267B2;
}

.share-div{
    width: 30% !important;
}

.emoji-hover-div{
    border-style: solid;
    width:400px;
    border-radius: 50px;
    background-color: white;
    border-color: whitesmoke;
    border-width: 1px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

@media(max-width:500px){
    .line-div{
        margin-top: 25px;
    }
    .emoji-hover-div{
        width: 250px;
        bottom: 85px;
    }
}