.floatingBtn{
    /* border-style: solid; */
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    float: right;
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer; 
    background-color: #FF4081;
    /* border-color: #FF4081; */
}

.floatingBtn:hover{
    background-color: rgb(194, 29, 84);
    /* border-color: rgb(194, 29, 84); */
}

/* .floatingBtn a {
    text-decoration: none;
    color: white;
} */