/* body{
    background-image: url('./images/background.jpg');
} */

.loginDiv{
    border-style: solid;
    width: 350px;
    margin: 10% auto;
    border-color: white;
    border-width: 1.3px;
    box-shadow: 1px 1px 8px 0.5px #777777;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0,0,0,30%);
    
    
}
    .inputLogin{
        background-color: rgba(255, 255, 255,1%) !important;
        border-color: white !important;
        color: white !important;
        border-radius: 40px !important;
    }

.form-control:focus{
    border-color: white !important;
    box-shadow: inset 0 1px 1px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);
}

.adminHeading{
    font-family: cursive;
    text-align: center;
}

#line{
    border-top: solid;
    margin-bottom: 15px;
    border-width: 1.3px;
    /* border-color: rgb(201, 199, 199); */
    border-color: white;
}

.loginBtn{
    text-align: center;
}

.loginBtn button{
    border-radius: 30px !important;
    width: 30%;
    margin: 0 auto;
}

.inputLogin::placeholder{
    color:white !important;
    font-family: cursive !important;
}

@media(max-width:450px){
    .loginDiv{
        width: 230px;
    }
    .adminHeading{
        font-size: 1.6em;
    }
}